body {
    background-image: linear-gradient(to right top, #070507, #080508, #080608, #090609, #090609, #090609, #0a0709, #0a0709, #0a0709, #0b0809, #0b0809, #0b0909);
    color: whitesmoke;
}


.film__search .card {
    background-color: #0000003f;
}